keystore_path = "~/.ipc"

[[subnets]]
id = "/{{ validator_parent_subnet_id }}"

[subnets.config]
network_type = "fevm"
provider_http = "https://api.calibration.node.glif.io/rpc/v1"
gateway_addr = "{{ validator_parent_gateway }}"
registry_addr = "{{ validator_parent_registry }}"
